---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Image_container from "../components/Image_container.astro";

const theme = "about";
---

<Layout theme={theme}>
  <Hero
    video="/assets/imgs/video/index_video.mp4"
    title="About"
    description="Trifolium offers modern, flexible facilities designed to support collaboration, innovation, and community across all activities and events."
    descLeft=""
    descRight=""
    poster="/assets/imgs/lazyload/about_lazyload.webp"
  />
  <section>
    <nav class="hor_card">
      <a href="/members">
        <p>Members</p>
        <img
          src="../assets/imgs/arrow_icon_red.svg"
          alt="Arrow down"
          aria-hidden="true"
        />
      </a>
      <a href="/staff">
        <p>Staff</p>
        <img
          src="../assets/imgs/arrow_icon_red.svg"
          alt="Arrow down"
          aria-hidden="true"
        />
      </a>
      <a href="/page_not_found">
        <p>Available positions</p>
        <img
          src="../assets/imgs/arrow_icon_red.svg"
          alt="Arrow down"
          aria-hidden="true"
        />
      </a>
      <a href="/contact">
        <p>Contact</p>
        <img
          src="../assets/imgs/arrow_icon_red.svg"
          alt="Arrow down"
          aria-hidden="true"
        />
      </a>
    </nav>
  </section>
  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>
  <section class="img_w_txt">
    <div class="txt_box">
      <h2>Space to Create. <br /> Freedom to Grow.</h2>
      <p>
        Trifolium is a professional production village designed for companies
        and creatives who value freedom within structure. We offer a flexible,
        membership-based workspace that combines fully equipped workshops,
        modern offices, and shared learning in one cohesive environment.
        Spanning over 5,000 m², our space includes seven high-spec workshops,
        event and meeting rooms, private studios, a photo facility, and even a
        mobile container workshop. It’s a place to build, grow, and collaborate
        — surrounded by skilled peers who value quality, independence, and
        shared ambition.
      </p>
    </div>
    <Image_container
      src="/assets/imgs/about_grow.webp"
      alt="Metalworkshop"
      labelLeft="tour of the facilities"
      labelRight="1st Floor"
    />
  </section>
  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>
  <section class="img_w_txt left">
    <div class="txt_box">
      <h2>Industrial by Nature, Connected by Design</h2>
      <p>
        Trifolium sits in Copenhagen’s Sydhavn, an industrial pocket known for
        its raw character and long-standing community of small businesses,
        startups, and craft-driven companies.
      </p><p>
        It’s a place that’s both connected and spacious. Turn one way and you’re
        in the city. Go the other, and you’re on the highway or at the airport
        within minutes.
      </p><p>
        There’s room here. Room to think, to build, to breathe. Water surrounds
        us, and a creative energy runs through the area. It’s a place where
        people are curious, ambitious, and ready to get things done.
      </p>
    </div>
    <Image_container
      src="/assets/imgs/about_connected.webp"
      alt="Assembly of a miniature bench"
      labelLeft="Model workshop"
      labelRight="mezzanine"
    />
  </section>
  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>
  <section class="img_w_txt">
    <div class="txt_box">
      <h2>Our Purpose</h2>
      <p>
        Trifolium is built as the ideal workspace for professionals who create.
        Whether you're working with physical products, digital tools, or
        something in between, this is a place made for doing.
      </p><p>
        Our goal is to bring everything you need for production into one place.
        From high-end equipment and flexible workspaces to a community of
        skilled peers who take their work seriously.
      </p><p>
        But it’s not just about tools and space. At Trifolium, we believe in
        knowledge sharing. When people from different industries and backgrounds
        meet, ideas grow stronger, and smarter ways of working emerge.
      </p><p>
        We’re committed to professionalism, but also to inclusion. This is a
        community where designers, engineers, developers, and builders can
        focus, grow, and contribute.
      </p><p>
        If you’re looking for a place where ambition is shared and good work
        gets done, you’ll feel right at home.
      </p>
    </div>
    <Image_container
      src="/assets/imgs/about_purpose.webp"
      alt="Map of Trifolium"
      labelLeft="Assembly area"
      labelRight="1st floor"
    />
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section class="img_w_txt left">
    <div class="txt_box">
      <h2>The Story</h2>
      <p>
        Trifolium is a place shaped by change. The building was originally
        constructed in 1966 as a state-of-the-art dairy facility, part of a new
        wave of industrial progress.
      </p><p>
        In 2016, the transformation began. Over time, the space has been
        carefully renovated to support a different kind of industry, one built
        on creativity, technology, and collaboration.
      </p><p>
        Today, Trifolium brings the past and future together under one roof,
        where craftsmanship meets modern tools, and where new ideas take form in
        a setting rooted in purpose.
      </p>
    </div>
    <Image_container
      src="/assets/imgs/about_story.webp"
      alt="Map of Trifolium"
      labelLeft="steet view"
      labelRight="Bådehavnsgade 42F"
    />
  </section>
  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section class="bottom_cta">
    <h2>Explore our facilities</h2>
    <p>
      With workspaces, advanced tools, and workshops under one roof, you can
      create physical or digital products from concept to launch.
    </p>
    <a href="/facilities" class="button large">Explore facilities</a>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>
</Layout>

<style>
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .hor_card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tiny);
    > a {
      display: flex;
      justify-content: space-between;
      border: 1px solid var(--primary-color-500);
      font-weight: 700;
      font-size: 1.5em;
      padding: var(--spacing-tiny);
    }
    > a p {
      padding: 0;
      margin: 0;
    }
    > a:hover {
      background-color: var(--primary-color-200);
    }
    > a img {
      transition: 0.05s ease-in;
    }
    > a:hover img {
      rotate: 45deg;
    }
    > a:active {
      background-color: var(--primary-color-500);
      color: white;
    }
  }

  @media (min-width: 800px) and (max-width: 1150px) {
    .hor_card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-tiny) 2em;
    }
  }

  @media (width > 800px) {
    .hor_card {
      flex-direction: row;
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
</style>
