---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
---

<Layout>
  <Hero
    video="/assets/imgs/video/index_video.mp4"
    title="About Trifolium"
    description="Trifolium offers modern, flexible facilities designed to support collaboration, innovation, and community across all activities and events."
    descLeft=""
    descRight=""
  />
  <section>
    <h2>Facilities</h2>
    <p>
      At Trifolium, we provide top-class facilities designed to inspire growth,
      learning, and community. Whether you’re here for education, events, or
      everyday activities, our modern spaces support a wide range of needs. With
      flexible rooms, inviting common areas, and a strong connection to nature,
      Trifolium is more than a place—it’s a setting built for connection and
      creativity.
    </p>
  </section>
</Layout>

<style>
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
</style>
