---
import Layout from "../layouts/Layout.astro";

const theme = "about";
---

<Layout theme={theme}>
  <section class="hero">
    <img src="../assets/imgs/lazyload/positions_lazyload.webp" alt="People working outside" />
  </section>
  <section>
    <h1>Contact</h1>
    <div class="header_container">
      <h4>Let's Talk</h4>
      <div class="arrow_container">
        <img src="../assets/imgs/arrow_icon_red.svg" alt="arrow down" aria-hidden="true" />
      </div>
    </div>
  </section>
  <section class="formula">
    <div class="input_container">
      <div class="input_wrapper">
        <label for="message">Your Name</label>
        <input type="text" placeholder="Your Name" />
      </div>
      <div class="input_wrapper">
        <label for="message">Company Name</label>
        <input type="text" placeholder="Company Name" />
      </div>
      <div class="input_wrapper">
        <label for="message">CVR-Number</label>
        <input type="text" placeholder="CVR-Number" />
      </div>
      <div class="input_wrapper">
        <label for="message">E-mail</label>
        <input type="text" placeholder="E-mail" />
      </div>
      <div class="input_wrapper">
        <label for="message">Phone number</label>
        <input type="text" placeholder="Phone number" />
      </div>
      <div class="input_wrapper">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="7" placeholder="Briefly describe the reason for your message..."></textarea>
      </div>
    </div>
    <p>Fill in the form above, and press send. We will get back to you as soon as possible.</p>
    <a href="/form_sent" class="send_form"><button class="large alt">Send</button></a>
  </section>
</Layout>

<style>
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .formula {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
  }
  .purpose {
    display: flex;
    height: fit-content;
    text-wrap: wrap;
  }
  .hero {
    width: calc(100% - 32px);
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    margin-bottom: var(--spacing-small);
    max-height: 500px;
    > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin: 0;
      box-sizing: border-box;
    }
  }
  .header_container {
    margin-top: var(--spacing-tiny);
    display: flex;
    align-items: center;
    > .arrow_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      overflow: hidden;
      margin-left: var(--spacing-small);
    }
    > .arrow_container img {
      width: 100%;
      height: auto;
      transform: scale(1.2) rotate(90deg);
    }
    h4 {
      margin: 0;
    }
  }
  .input_container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    > .input_wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      margin-top: var(--spacing-medium);
    }
    > .input_wrapper label {
      font-weight: 800;
      font-size: large;
    }
    > .input_wrapper input {
      width: 100%;
      padding: 0.75em 1em 0.75em 0;

      font-size: large;

      background-color: var(--color-white-100, #fff);
      border: 1px solid var(--white-color-100);
      border-bottom: 2px solid var(--black-color-100);

      outline: none;
      box-sizing: border-box;
    }
    > .input_wrapper textarea {
      margin-top: var(--spacing-tiny);
      width: 100%;
      padding: 0.75em 0.5em 0.75em 0.5em;

      font-size: large;

      background-color: var(--color-white-100, #fff);
      border: 1px solid var(--white-color-100);
      border: 2px solid var(--black-color-100);

      outline: none;
      box-sizing: border-box;
    }
    > .input_wrapper input::placeholder,
    .input_wrapper textarea::placeholder {
      color: var(--color-gray-400, #999);
      font-family: var(--secondary-font);
    }
  }
  .send_form {
    width: fit-content;
    height: fit-content;
  }

  @media (min-width: 800px) and (max-width: 900px) {
    .formula {
      max-width: 753px;
      justify-self: right;
    }
  }
  @media (width > 900px) {
    .formula {
      max-width: 60vw;
      justify-self: center;
    }
  }
</style>
