---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Image_container from "../components/Image_container.astro";

const galleryImages = [
  { src: "/assets/imgs/placeholder.png", alt: "Image 1" },
  { src: "/assets/imgs/placeholder.png", alt: "Image 2" },
  { src: "/assets/imgs/placeholder.png", alt: "Image 3" },
  { src: "/assets/imgs/placeholder.png", alt: "Image 4" },
  { src: "/assets/imgs/placeholder.png", alt: "Image 5" },
];

const theme = "dandp";
---

<Layout theme={theme}>
  <Hero
    video="/assets/imgs/video/design_and_production_video.mp4"
    title="Design & Production"
    description="The team works across materials with a focus on digital fabrication, handling everything from sketches to finished results. While mainly serving external clients, they also collaborate with members when it fits. It’s not on-demand. It’s purpose-built."
    poster="/assets/imgs/lazyload/design_and_production_lazyload.webp"
  />
  <section class="img_w_txt">
    <Image_container src="/assets/imgs/d&p_intro.webp" alt="Map of Trifolium" labelLeft="Material library" labelRight="D&P Office" />
    <div class="txt_box">
      <h2>Bringing ideas into form</h2>
      <p>
        Design & Production is Trifolium’s in-house design and fabrication unit. It’s a compact, experienced team that works across disciplines to turn ideas into real, functional results, whether for businesses, institutions, or fellow members.
        <br /><br />
        Their work lives at the intersection of creativity and precision. With deep knowledge of materials, processes, and production methods, they handle tasks from early concept to final execution. The team shares their daily workspace with the wider
        Trifolium community. While their main focus is external projects, collaboration with members happens often and naturally.
        <br /><br />
        This isn’t a studio for mass production. It’s a project-based partner for unique builds, one-offs, and ambitious solutions.
      </p>
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="img_w_txt left">
    <Image_container src="/assets/imgs/d&p_ida.webp" alt="Map of Trifolium" labelLeft="bådehavnsgade 42" labelRight="2450 Sydhavnen" />
    <div class="txt_box">
      <h2>From sketch to setup</h2>
      <p>
        Design & Production takes on a wide range of one-off and short-run projects, often starting from just an idea or a rough drawing. They specialize in digital fabrication, including CNC routing, laser cutting, and metalwork, but are equally
        comfortable working across wood, plastics, and more experimental materials.
        <br /><br />
        Their strength lies in being hands-on and close to the process. From quick prototypes to polished presentation pieces, they approach each job with care, curiosity, and the technical insight to make it work.
        <br /><br />
        They’re not a bookable service. Their work is ad hoc, shaped by timing, scope, and fit. But when the match is right, they’re a highly capable and committed team that delivers sharp results with flexibility and speed.
      </p>
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="img_w_txt">
    <Image_container src="/assets/imgs/d&p_thomas.webp" alt="Map of Trifolium" labelLeft="bådehavnsgade 42" labelRight="2450 Sydhavnen" />
    <div class="txt_box">
      <h2>Proven in practice</h2>
      <p>
        Design & Production has contributed to everything from large-scale exhibition pieces and custom interiors to prototypes, test rigs, and product demos. They’ve worked with institutions, architects, startups, and artists, and often lend their
        skills to projects happening within the Trifolium community.
      </p>
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <div class="previous_productions">
    <h2>Previous productions</h2>
    <section class="txt_only">
      <h4>Bloom bar for Bloom festival 2024</h4>
      <p>In collaboration with Studio Gestalt. Design, concept and fabrication by Studio Gestalt. Consulting and fabrication by D&P</p>
    </section>

    <section>
      <div class="gallery_grid">
        <Image_container src="/assets/imgs/d&p_bloom1.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_bloom2.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_bloom3.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
      </div>
    </section>

    <section class="txt_only">
      <h5>Collaborative design & production with Unicef and Manyone 2023</h5>
      <p>
        Augmented reality installation, exhibited at AidEx2023.
        <br /><br />
        The immersive installation “Sounds of Forgotten Crises” reflefts the magnitude and emotional significance Unicef conducts in worlds emergency zones.
      </p>
    </section>
    <section>
      <div class="gallery_grid">
        <Image_container src="/assets/imgs/d&p_manyone1.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_manyone2.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_manyone3.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
      </div>
    </section>

    <section class="txt_only">
      <h5>Petal Pavillion Production for Chart 2023</h5>
      <p>
        PETAL PAVILION - CHART 2023. <br />
        Made for Lasovsky Johansson
        <br /><br />
        Part production on our CNC plasma cutter, traditional welding plus guides and installation of electro-mechanic structure.
      </p>
    </section>
    <section>
      <div class="gallery_grid">
        <Image_container src="/assets/imgs/d&p_pavillion1.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_pavillion2.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_pavillion3.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
      </div>
    </section>

    <section class="txt_only">
      <h5>Douglas stool and brass lamp base for Christian & Jade</h5>
      <p>
        Part-fabrication by D&P <br /><br />

        Design, craft and photos by Christian&Jade
      </p>
    </section>
    <section>
      <div class="gallery_grid">
        <Image_container src="/assets/imgs/d&p_cd1.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_cd2.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
        <Image_container src="/assets/imgs/d&p_cd3.webp" alt="photo wall" labelLeft="Photo wall" labelRight="Photostudio" />
      </div>
    </section>
  </div>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="bottom_cta">
    <h2>Partners</h2>
    <div class="partners_container">
      <div><img src="/assets/imgs/d&p_henninglarsen.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_mikeller.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_am.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_alchemist.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_manyone.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_postevand.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_spacon.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_vejle.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_gammelstrand.webp" alt="Partner" /></div>
      <div><img src="/assets/imgs/d&p_soundboks.webp" alt="Partner" /></div>
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="bottom_cta">
    <h2>Bring your idea to life</h2>
    <p>We help you move forward from your individual starting point and take pride in the fact that personal guidance and sparring create a safe and productive collaboration.</p>
    <a href="/contact">
      <button class="large"> Get in touch</button>
    </a>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>
</Layout>

<style>
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .partners_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-small);
  }
  .partners_container > div {
    max-width: 80px;
    height: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    > img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }

  .previous_productions h2 {
    margin: var(--spacing-small);
  }

  .txt_only p{
    margin-top:0;
  }

  @media (width > 800px) {
    .image_scroll_facilities {
      height: 600px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      overflow: hidden;
      overflow-x: auto;
      gap: var(--spacing-tiny);
      > img {
        height: 100%;
        max-width: 100vw;
        max-height: 600px;
      }
      > .image_container {
        height: 100%;
        width: 100vw;
      }
    }

    .gallery_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr; /* ensures equal row height */
      gap: 1rem;
    }
  }
</style>
