---
import Layout from "../layouts/Layout.astro";
import ImageContainer from "../components/Image_container.astro";
---

<Layout>
  <ImageContainer src="../assets/imgs/placeholder.png" alt="desc" />
  <section>
    <h1>Form has been sent</h1>
    <p>
      Thanks for getting in contact! We will get to you as soon as possible.
    </p>
    <p>Open hours: <br /> Mon - Fri, 09:00-16:00</p>
    <p class="obs">
      OBS: this is a student project, Trifolium ApS hasen't really recieved your
      information. Please visit <a href="https://trifo.dk/">Trifo.dk</a>.
    </p>
    <br />
    <a href="/"><button class="large">Back to font page</button></a>
  </section>
</Layout>

<style>
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .obs {
    color: red;
    font-weight: 500;
    > a {
      text-decoration: underline;
      color: blue;
    }
  }
</style>
