---
import Layout from "../layouts/Layout.astro";
import ImageContainer from "../components/Image_container.astro";
---

<Layout>
  <div class="hero">
    <ImageContainer src="/assets/imgs/lazyload/facilities_lazyload.webp" alt="desc" />
  </div>
  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="Section divider" aria-hidden="true" />
  </div>
  <section>
    <h1>Form has been sent!</h1>
    <p>Thanks for getting in contact! We will get to you as soon as possible.</p>
    <p><span class="bold">Open hours:</span> <br /> Mon - Fri, 09:00-16:00</p>
    <p class="obs">
      OBS: This is a student project, Trifolium ApS hasn't really recieved your information. Please visit <a href="https://trifo.dk/">Trifo.dk</a>.
    </p>
    <br />
    <div class="form_cta">
      <a href="/" class="form_cta"><button class="large">Back to font page</button></a>
    </div>
  </section>
  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="Section divider" aria-hidden="true" />
  </div>
</Layout>

<style>
  section {
    margin: 150px 0;
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
    max-width: 100%;
    justify-self: center;
  }
  h1 {
    width: 100%;
    max-width: fit-content;
  }
  .bold {
    font-weight: 700;
  }
  .obs {
    color: red;
    font-weight: 500;
    > a {
      text-decoration: underline;
      color: blue;
    }
  }
  .hero {
    width: calc(100% - 32px);
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    margin-bottom: var(--spacing-small);
    max-height: 500px;
    overflow: hidden;
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .form_cta {
    display: flex;
    justify-content: center;
  }
  @media (width > 800px) {
    section {
      max-width: 515px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
</style>
