---
import Layout from "../layouts/Layout.astro";
import Image_container from "../components/Image_container.astro";
import NavCard from "../components/nav_card.astro";
import EventCard from "../components/event_card.astro";
---

<Layout>
  <section class="hero">
    <div class="hero_img_container">
      <video
        autoplay
        muted
        loop
        playsinline
        preload="none"
        poster="/assets/imgs/lazyload/index_lazyload.webp"
        class="hero-video"
      >
        <source src="/assets/imgs/video/index_video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="hero_text">
        <h2 class="left_hero_text">
          A Professinoal <br /> Production <br /> Village
        </h2>
      </div>
      <a href="#intro" class="arrow_container">
        <img src="../assets/imgs/arrow_icon_white.svg" alt="" />
      </a>
    </div>
  </section>

  <div class="logo_divider" id="intro">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="img_w_txt">
    <div class="txt_box">
      <h1>
        A professional production village for designers, developers, and
        builders.
      </h1>
      <p>
        With workspaces, advanced tools, and workshops under one roof, you can
        create physical or digital products from concept to launch.
      </p>
      <a href="/contact" class="button large"> Get a Tour </a>
    </div>
    <Image_container
      src="/assets/imgs/index_bluearea.webp"
      alt="Map of Trifolium"
      labelLeft="Blue area"
      labelRight="1st floor"
    />
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section>
    <h2>Explore our facilities</h2>
    <nav class="nav_card_container">
      <NavCard
        href="/offices"
        title="Offices"
        imgSrc="/assets/imgs/offices_intro.webp"
        alt="image did not load"
        aria-hidden="true"
      />
      <NavCard
        href="/photostudio"
        title="Photo-studio"
        imgSrc="/assets/imgs/lazyload/photostudio_lazyload.webp"
        alt="image did not load"
        aria-hidden="true"
      />
      <NavCard
        href="/workshops"
        title="Workshops"
        imgSrc="/assets/imgs/wrk_realwork.webp"
        alt="image did not load"
        aria-hidden="true"
      />
      <NavCard
        href="/venues"
        title="Venues"
        imgSrc="/assets/imgs/lazyload/venues_lazyload.webp"
        alt="image did not load"
        aria-hidden="true"
      />
    </nav>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="img_w_txt">
    <div class="txt_box">
      <h2>Design & Production</h2>
      <p>
        At Trifolium, we understand that starting a business comes with plenty
        of uncertainty. Your workspace shouldn’t be one of them. That’s why our
        memberships are modular and based on how many people in your team need
        access. You only pay for what you need.
      </p>
      <a href="/contact" class="button large"> Contact Trifolium</a>
    </div>
    <div class="img_frame">
      <Image_container
        src="/assets/imgs/d&p_intro.webp"
        alt="D&P Thumbnail"
        labelLeft="Material library"
        labelRight="D&P office"
      />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="img_w_txt left">
    <div class="txt_box">
      <h2>Where Innovation Meets Community</h2>
      <p>
        At Trifolium, we offer state-of-the-art facilities designed to inspire
        creativity, collaboration, and growth. Our vibrant culture is built on
        openness, curiosity, and a shared commitment to making a positive impact
        together. Whether you’re here to work, learn, or connect, you’ll find a
        welcoming space that supports your journey.
      </p>
      <a href="/contact" class="button large">Get a Tour</a>
    </div>
    <Image_container
      src="/assets/imgs/index_kort.webp"
      alt="Map of Trifolium"
      labelLeft="bådehavnsgade 42K"
      labelRight="2450 Sydhavnen"
    />
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section>
    <h2>Upcoming Events</h2>
    <div class="events">
      <EventCard
        imgSrc="/assets/imgs/event_posters/fridaybar_june.svg"
        alt="Map of Trifolium"
        date="6/6"
        day="Friday 16-20"
        desc="Unwind with us at Trifolium for an informal Friday Bar. Drinks, music, and good vibes from 16:00. Bring a friend and start the weekend right!"
      />
      <EventCard
        imgSrc="/assets/imgs/event_posters/fridaybar_july.svg"
        alt="Map of Trifolium"
        date="4/7"
        day="Friday 16-20"
        desc="Join us for Friday Bar on July 3rd — hosted by Staedtler! Expect music, wine, and creative vibes as we draw and drink together. Everyone’s welcome!"
      />
      <EventCard
        imgSrc="/assets/imgs/event_posters/fridaybar_august.svg"
        alt="Map of Trifolium"
        date="1/8"
        day="Friday 16-20"
        desc="This Fridaybar is w. Hakami - You wouldnt want to miss this!"
      />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="bottom_cta">
    <h2>Explore our facilities</h2>
    <p>
      With workspaces, advanced tools, and workshops under one roof, you can
      create physical or digital products from concept to launch.
    </p>
    <a href="/facilities" class="button large"> Explore facilities </a>
  </section>

  <div class="logo_divider">
    <img src="/assets/imgs/logo_icon.svg" alt="" />
  </div>
</Layout>

<style>
  h2 {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
  }
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .hero_img_container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 92vh;
    overflow: hidden;
    > .hero_text,
    video,
    div {
      grid-area: 1/1/2/2;
    }
    > .hero_text {
      margin: 0 var(--spacing-small);
    }
    > .hero_text .right_hero_text {
      text-align: right;
    }
    > .hero_text h2 {
      color: white;
      font-family: var(--primary-font);
      text-transform: uppercase;
      /* text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.862); */
      /* mix-blend-mode: difference; */
      font-size: 10.5vw;
      font-weight: 500;
      margin: 0.4em 0 0 0;
      text-wrap: nowrap;
    }
    > video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    > .arrow_container {
      width: 10px;
      aspect-ratio: 1/1;
      position: absolute;
      top: 93%;
      left: 50%;
      transform: rotate(135deg);
    }
  }

  .events {
    display: grid;
    gap: 1em;
  }
  @media (width > 800px) {
    .hero_text h2 {
      line-height: 1;
      font-size: 10vw;
      margin-top: 0.1em;
    }
    .arrow_container {
      top: 92% !important;
    }

    .events {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
    }
  }
</style>
