---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Header1</h1>
  <h2>Header2</h2>
  <a href="">link</a>
  <ul>
    <li>list item</li>
    <li>list item</li>
  </ul>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut saepe non
    possimus repudiandae provident ipsum culpa laborum eum eveniet consequuntur.
  </p>
</Layout>
