---
import Layout from "../layouts/Layout.astro";
import Image_container from "../components/Image_container.astro";
import ImageContainerFacilities from "../components/Image_container_facilities.astro";
import NavCard from "../components/nav_card.astro";
---

<Layout>
  <section class="hero">
    <div class="hero_img_container">
      <video
        autoplay
        muted
        loop
        playsinline
        preload="none"
        poster="/assets/imgs/lazyload/index_lazyload.webp"
        class="hero-video"
      >
        <source src="/assets/imgs/video/index_video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="hero_text">
        <h2 class="left_hero_text">For <br />those</h2>
        <h2 class="right_hero_text">who <br />create</h2>
      </div>
      <div class="arrow_container">
        <img src="../assets/imgs/arrow_icon_white.svg" alt="" />
      </div>
    </div>
    <div class="logo_divider">
      <img src="../assets/imgs/logo_icon.svg" alt="" />
    </div>
  </section>
  <section>
    <h1>
      A professional production village for designers, developers, and builders.
    </h1>
    <p>
      With workspaces, advanced tools, and workshops under one roof, you can
      create physical or digital products from concept to launch.
    </p>
    <a href="/contact">
      <button class="large">Get a Tour</button>
    </a>
    <Image_container
      src="/assets/imgs/index_bluearea.webp"
      alt="Map of Trifolium"
    />
    <div class="logo_divider">
      <img src="../assets/imgs/logo_icon.svg" alt="" />
    </div>
  </section>
  <section>
    <h2>Explore our facilities</h2>
    <nav class="nav_card_container">
      <NavCard
        href="/offices"
        title="Offices"
        imgSrc="/assets/imgs/offices_intro.webp"
        alt="image did not load"
        aria-hidden="true"
      />
      <NavCard
        href="/photostudio"
        title="Photo-studio"
        imgSrc="/assets/imgs/lazyload/photostudio_lazyload.webp"
        alt="image did not load"
        aria-hidden="true"
      />
      <NavCard
        href="/workshops"
        title="Workshops"
        imgSrc="/assets/imgs/wrk_realwork.webp"
        alt="image did not load"
        aria-hidden="true"
      />

      <NavCard
        href="/venues"
        title="Venues"
        imgSrc="/assets/imgs/...webp"
        alt="image did not load"
        aria-hidden="true"
      />
    </nav>
    <div class="logo_divider">
      <img src="../assets/imgs/logo_icon.svg" alt="" />
    </div>
  </section>
  <section>
    <h1>Where Innovation Meets Community</h1>
    <p>
      At Trifolium, we offer state-of-the-art facilities designed to inspire
      creativity, collaboration, and growth. Our vibrant culture is built on
      openness, curiosity, and a shared commitment to making a positive impact
      together. Whether you’re here to work, learn, or connect, you’ll find a
      welcoming space that supports your journey.
    </p>
    <a href="/contact"> <button class="medium">Get a Tour</button></a>

    <Image_container
      src="/assets/imgs/index_kort.webp"
      alt="Map of Trifolium"
      labelLeft="bådehavnsgade 42K"
      labelRight="2450 Sydhavnen"
    />
    <div class="logo_divider">
      <img src="../assets/imgs/logo_icon.svg" alt="" />
    </div>
  </section>
  <section class="img_w_txt">
    <div class="img_frame">
      <ImageContainerFacilities
        src="/assets/imgs/d&p_intro.webp"
        alt="D&P Thumbnail"
        labelLeft="Material library"
        labelRight="D&P office"
      />
    </div>
    <div class="txt_box">
      <h2>Design & Production</h2>
      <p>
        At Trifolium, we understand that starting a business comes with plenty
        of uncertainty. Your workspace shouldn’t be one of them. That’s why our
        memberships are modular and based on how many people in your team need
        access. You only pay for what you need.
      </p>
      <a href="/contact"> <button class="large"> Contact Trifolium</button></a>
    </div>
  </section>
  <section>
    <h5>
      Cant find what you are looking for? Don’t be afraid to reach out to us!
    </h5>
    <a href="/contact"> <button class="large"> Contact Trifolium</button></a>
    <div class="logo_divider">
      <img src="../assets/imgs/logo_icon.svg" alt="" />
    </div>
  </section>
</Layout>

<style>
  section:not(.hero) {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }
  .hero_img_container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 90vh;
    overflow: hidden;
    > .hero_text,
    video,
    div {
      grid-area: 1/1/2/2;
    }
    > .hero_text {
      margin: 0 var(--spacing-small);
    }
    > .hero_text .right_hero_text {
      text-align: right;
    }
    > .hero_text h2 {
      color: var(--white-color-100);
      font-family: var(--primary-font);
      text-transform: uppercase;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      font-size: 5em;
      font-weight: 500;
      margin: 0;
    }
    > video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    > .arrow_container {
      width: 10px;
      aspect-ratio: 1/1;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: rotate(135deg);
    }
  }
  button {
    margin-bottom: var(--spacing-large);
  }
  .logo_divider {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-large);
    > img {
      width: 50px;
      margin: var(--spacing-) 0;
    }
  }
  .nav_card_container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tiny);
  }
</style>
