---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
---

<Layout>
  <Hero
    video="/assets/imgs/video/index_video.mp4"
    title="Membership"
    description="Trifolium offers modern, flexible facilities designed to support collaboration, innovation, and community across all activities and events."
    descLeft=""
    descRight=""
  />
  <img src="" alt="" />
  <p>
    At Trifolium, we understand that starting a business comes with plenty of
    uncertainty. Your workspace shouldn’t be one of them. That’s why our
    memberships are modular and based on how many people in your team need
    access. You only pay for what you need.
  </p>
  <p>
    If things slow down, you can downgrade with just two months’ notice. And
    when business picks up, it’s easy to scale up again. Simple, flexible, and
    built to support your growth.
  </p>
</Layout>
