---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";

const theme = "facilities";
---

<Layout theme={theme}>
  <Hero
    video="/assets/imgs/video/index_video.mp4"
    title="Venues"
    description="Trifolium offers modern, flexible facilities designed to support collaboration, innovation, and community across all activities and events."
    descLeft="TRIFOLIUM"
    descRight="VENUES"
    poster="/assets/imgs/lazyload/about_lazyload.webp"
  />

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Kedelrummet</h2>
      <p>
        A unique 80 m² ground-floor venue with high ceilings and an authentic
        vibe — perfect for birthdays, weddings, confirmations, corporate events,
        and more. Fits up to 50 seated / 80 standing. Bring your own food and
        drinks. Check-in: 12:00 / Check-out: 09:00 Venue must be left tidy
        unless cleanup is booked.
      </p>

      <div>
        <h5>Prices:</h5>
        <ul>
          <li>Rental: 8.500 DKK</li>
          <li>Deposit: 5.000 DKK</li>
          <li>Cleaning (required): 1.500 DKK</li>
          <li>Walk-away cleanup: 1.500 DKK</li>
          <li>Tables/chairs (up to 60): 2.000 DKK</li>
          <li>Kitchen (fridge, freezer, dishwasher): 3.000 DKK</li>
          <li>Drinks via Husted Vin</li>
          <li>Security (youth events): from 3.500 DKK</li>
        </ul>
      </div>
      <a href="/membership"> <button class="large">Submit a request</button></a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/public/assets/imgs/kedelrummet.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet2.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrum3.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet4.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet5.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet6.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet7.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet8.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet9.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet10.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet11.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet12.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet13.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet14.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet15.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet16.webp" alt="open office" />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Atelier</h2>
      <p>
        A bright, newly renovated space of approx. 100 m², perfect for
        confirmations, meetings, and private events. Located on the first floor
        with seating for up to 70 guests and a terrace at the entrance. Included
        in the rental: professional sound and lighting, five beer tables with
        benches (seating 30). Access from 12:00 on the day of the event until
        09:00 the next morning.
      </p>
      <div>
        <h5>Prices and options:</h5>
        <ul>
          <li>Deposit: 3,000 DKK</li>
          <li>Cleaning (required): 1,500 DKK</li>
          <li>Walk-away cleanup: 1,500 DKK</li>
          <li>Table/chair setup (up to 60 seats): 2,000 DKK</li>
          <li>Security (50+ guests): from 3,500 DKK</li>
        </ul>
      </div>
      <a href="/membership"> <button class="large">Submit a request</button></a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/public/assets/imgs/atelier1.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier2.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier3.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier4.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier5.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier6.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier7.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier8.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier9.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier10.webp" alt="open office" />
      <img src="/public/assets/imgs/atelier11.webp" alt="open office" />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Klubben</h2>
      <p>
        A stunning event space with a high ceiling and walkway, perfect for
        weddings, parties, confirmations, corporate events, and kick-offs.
        You’re welcome to bring your own food and drinks, and the atmosphere
        speaks for itself.
      </p>
      <p>
        The venue includes a lit outdoor lounge terrace with parasols,
        professional sound and lighting, cooling for your own beverages,
        dishwasher access for glassware, and final cleaning.
      </p>
      <p>
        Located on the ground floor with direct access, the space is approx. 100
        m² and can host up to 50 seated or 80 standing guests. Check-in is from
        12:00 on the day of the event, and check-out is by 12:00 the following
        day.
      </p>

      <div>
        <h5>Prices and options:</h5>
        <ul>
          <li>Rental: 8,500 DKK</li>
          <li>Deposit: 5,000 DKK</li>
          <li>Cleaning (included)</li>
          <li>Optional walk-away cleanup: 1,500 DKK</li>
          <li>Table/chair rental (up to 60 guests): 2,000 DKK</li>
          <li>Catering kitchen with fridge, freezer & dishwasher: 3,000 DKK</li>
          <li>Draft beer & wine available via Husted Vin</li>
          <li>Security for youth parties or similar: from 3,500 DKK</li>
        </ul>
      </div>
      <a href="/membership"> <button class="large">Submit a request</button></a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/public/assets/imgs/klubben1.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben2.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben3.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben4.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben5.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben6.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben7.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben8.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben9.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben10.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben11.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben12.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben13.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben14.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben15.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben16.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben17.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben18.webp" alt="open office" />
      <img src="/public/assets/imgs/klubben19.webp" alt="open office" />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Kirken</h2>
      <p>Note: Not available for bookings in June.</p>

      <p>
        A one-of-a-kind event tent in the raw industrial area of Sydhavn. With
        high ceilings and a bold atmosphere, it’s the perfect venue for large,
        unforgettable gatherings.
      </p>

      <p>
        The tent comes fully equipped with a professional sound system,
        lighting, and a built-in bar. Catering options such as BBQ and food
        trucks can be arranged by agreement.
      </p>

      <p>
        Included in the rental: bar with cooling, tables/benches for 120 people,
        4 wine barrel tables with parasols, full lighting and sound setup, and
        cleaning (you handle the tidy-up).
      </p>

      <div>
        <h5>Extras available:</h5>
        <ul>
          <li>PA system: 2,500 DKK</li>
          <li>Kitchen container: 4,500 DKK</li>
          <li>Toilet trailer (2 toilets): 4,000 DKK</li>
          <li>Bar equipment & beverages</li>
          <li>Heating package (required under 15°C): 5,000 DKK</li>
        </ul>
      </div>
      <a href="/membership"> <button class="large">Submit a request</button></a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/public/assets/imgs/kirken1.webp" alt="open office" />
      <img src="/public/assets/imgs/kirken2.webp" alt="open office" />
      <img src="/public/assets/imgs/kirken3.webp" alt="open office" />
      <img src="/public/assets/imgs/kirken4.webp" alt="open office" />
      <img src="/public/assets/imgs/kirken5.webp" alt="open office" />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Photo-studio</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer
        direct access to workshops, meeting rooms, and shared amenities. Here,
        you sit alongside other professionals in a dynamic, day-to-day
        production environment. It’s ideal for those who thrive in a
        collaborative setting and want to stay close to the action. You bring
        your desk setup, and we provide the space, context, and community to
        support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="/public/assets/imgs/photostudio_intro.webp" alt="open office" />
      <img
        src="/public/assets/imgs/photostudio_backview.webp"
        alt="open office"
      />
      <img
        src="/public/assets/imgs/photostudio_kitchen.webp"
        alt="open office"
      />
      <img
        src="/public/assets/imgs/photostudio_lounge.webp"
        alt="open office"
      />
      <img
        src="/public/assets/imgs/photostudio_makeup.webp"
        alt="open office"
      />
      <img
        src="/public/assets/imgs/photostudio_outside.webp"
        alt="open office"
      />
      <img
        src="/public/assets/imgs/photostudio_tableview.webp"
        alt="open office"
      />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Orange</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer
        direct access to workshops, meeting rooms, and shared amenities. Here,
        you sit alongside other professionals in a dynamic, day-to-day
        production environment. It’s ideal for those who thrive in a
        collaborative setting and want to stay close to the action. You bring
        your desk setup, and we provide the space, context, and community to
        support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="/public/assets/imgs/orange1.webp" alt="open office" />
      <img src="/public/assets/imgs/orange2.webp" alt="open office" />
      <img src="/public/assets/imgs/orange3.webp" alt="open office" />
      <img src="/public/assets/imgs/orange4.webp" alt="open office" />
      <img src="/public/assets/imgs/orange5.webp" alt="open office" />
      <img src="/public/assets/imgs/orange6.webp" alt="open office" />
      <img src="/public/assets/imgs/orange7.webp" alt="open office" />
      <img src="/public/assets/imgs/orange8.webp" alt="open office" />
      <img src="/public/assets/imgs/orange9.webp" alt="open office" />
      <img src="/public/assets/imgs/orange10.webp" alt="open office" />
      <img src="/public/assets/imgs/orange11.webp" alt="open office" />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Rød</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer
        direct access to workshops, meeting rooms, and shared amenities. Here,
        you sit alongside other professionals in a dynamic, day-to-day
        production environment. It’s ideal for those who thrive in a
        collaborative setting and want to stay close to the action. You bring
        your desk setup, and we provide the space, context, and community to
        support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="../assets/imgs/offices_open1.webp" alt="open office" />
      <img src="../assets/imgs/offices_open2.webp" alt="open office" />
      <img src="../assets/imgs/offices_open3.webp" alt="open office" />
      <img src="../assets/imgs/offices_open4.webp" alt="open office" />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>

  <section class="bottom_cta">
    <h2>Explore our facilities</h2>
    <p>
      With workspaces, advanced tools, and workshops under one roof, you can
      create physical or digital products from concept to launch.
    </p>
    <a href="/facilities">
      <button class="large"> Explore facilities</button>
    </a>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="" />
  </div>
</Layout>

<style>
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }

  h5 {
    margin: 0;
  }
</style>
