---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
---

<Layout>
  <Hero
    video="/assets/imgs/video/index_video.mp4"
    title="Venues"
    description="Trifolium offers modern, flexible facilities designed to support collaboration, innovation, and community across all activities and events."
    descLeft="TRIFOLIUM"
    descRight="VENUES"
    poster="/assets/imgs/lazyload/about_lazyload.webp"
  />

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Kedelrummet</h2>
      <p>
        A unique 80 m² ground-floor venue with high ceilings and an authentic vibe — perfect for birthdays, weddings, confirmations, corporate events, and more. Fits up to 50 seated / 80 standing. Bring your own food and drinks. Check-in: 12:00 /
        Check-out: 09:00 Venue must be left tidy unless cleanup is booked.
      </p>

      <div>
        <h5>Prices:</h5>
        <ul>
          <li>Rental: 8.500 DKK</li>
          <li>Deposit: 5.000 DKK</li>
          <li>Cleaning (required): 1.500 DKK</li>
          <li>Walk-away cleanup: 1.500 DKK</li>
          <li>Tables/chairs (up to 60): 2.000 DKK</li>
          <li>Kitchen (fridge, freezer, dishwasher): 3.000 DKK</li>
          <li>Drinks via Husted Vin</li>
          <li>Security (youth events): from 3.500 DKK</li>
        </ul>
      </div>
      <a href="/membership"> <button class="large">Submit a request</button></a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/public/assets/imgs/kedelrummet.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet2.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrum3.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet4.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet5.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet6.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet7.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet8.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet9.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet10.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet11.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet12.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet13.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet14.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet15.webp" alt="open office" />
      <img src="/public/assets/imgs/kedelrummet16.webp" alt="open office" />
    </div>
  </section>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Atelier</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer direct access to workshops, meeting rooms, and shared amenities. Here, you sit alongside other professionals in a dynamic, day-to-day production environment. It’s ideal
        for those who thrive in a collaborative setting and want to stay close to the action. You bring your desk setup, and we provide the space, context, and community to support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="../assets/imgs/offices_open1.webp" alt="open office" />
      <img src="../assets/imgs/offices_open2.webp" alt="open office" />
      <img src="../assets/imgs/offices_open3.webp" alt="open office" />
      <img src="../assets/imgs/offices_open4.webp" alt="open office" />
    </div>
  </section>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Klubben</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer direct access to workshops, meeting rooms, and shared amenities. Here, you sit alongside other professionals in a dynamic, day-to-day production environment. It’s ideal
        for those who thrive in a collaborative setting and want to stay close to the action. You bring your desk setup, and we provide the space, context, and community to support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="../assets/imgs/offices_open1.webp" alt="open office" />
      <img src="../assets/imgs/offices_open2.webp" alt="open office" />
      <img src="../assets/imgs/offices_open3.webp" alt="open office" />
      <img src="../assets/imgs/offices_open4.webp" alt="open office" />
    </div>
  </section>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Kirken</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer direct access to workshops, meeting rooms, and shared amenities. Here, you sit alongside other professionals in a dynamic, day-to-day production environment. It’s ideal
        for those who thrive in a collaborative setting and want to stay close to the action. You bring your desk setup, and we provide the space, context, and community to support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="../assets/imgs/offices_open1.webp" alt="open office" />
      <img src="../assets/imgs/offices_open2.webp" alt="open office" />
      <img src="../assets/imgs/offices_open3.webp" alt="open office" />
      <img src="../assets/imgs/offices_open4.webp" alt="open office" />
    </div>
  </section>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Photo-studio</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer direct access to workshops, meeting rooms, and shared amenities. Here, you sit alongside other professionals in a dynamic, day-to-day production environment. It’s ideal
        for those who thrive in a collaborative setting and want to stay close to the action. You bring your desk setup, and we provide the space, context, and community to support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="../assets/imgs/offices_open1.webp" alt="open office" />
      <img src="../assets/imgs/offices_open2.webp" alt="open office" />
      <img src="../assets/imgs/offices_open3.webp" alt="open office" />
      <img src="../assets/imgs/offices_open4.webp" alt="open office" />
    </div>
  </section>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Orange</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer direct access to workshops, meeting rooms, and shared amenities. Here, you sit alongside other professionals in a dynamic, day-to-day production environment. It’s ideal
        for those who thrive in a collaborative setting and want to stay close to the action. You bring your desk setup, and we provide the space, context, and community to support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="../assets/imgs/offices_open1.webp" alt="open office" />
      <img src="../assets/imgs/offices_open2.webp" alt="open office" />
      <img src="../assets/imgs/offices_open3.webp" alt="open office" />
    </div>
  </section>

  <section id="studio_village" class="img_w_txt">
    <div class="txt_box">
      <h2>Rød</h2>
      <p>
        Situated in the heart of the building, our open studio workspaces offer direct access to workshops, meeting rooms, and shared amenities. Here, you sit alongside other professionals in a dynamic, day-to-day production environment. It’s ideal
        for those who thrive in a collaborative setting and want to stay close to the action. You bring your desk setup, and we provide the space, context, and community to support your work.
      </p>
    </div>
    <div class="image_scroll_facilities">
      <img src="../assets/imgs/offices_open1.webp" alt="open office" />
      <img src="../assets/imgs/offices_open2.webp" alt="open office" />
      <img src="../assets/imgs/offices_open3.webp" alt="open office" />
      <img src="../assets/imgs/offices_open4.webp" alt="open office" />
    </div>
  </section>
</Layout>

<style>
  section {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
  }

  h5 {
    margin: 0;
  }
</style>
