---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Image_container from "../components/Image_container.astro";
import Included from "../components/included.astro";
import EquipmentItem from "../components/equipment_item.astro";
import "../styles/facility.css";

const theme = "facilities";
---

<Layout theme={theme}>
  <Hero
    video="/assets/imgs/video/wood_workshop_video.mp4"
    title="Workshops"
    description="If you or your company need machines for production, construction projects, or prototyping, our workshops are the perfect place for you."
    poster="/assets/imgs/lazyload/workshops_lazyload.webp"
    priceText="From 2800 DKK / month ex. VAT"
  />

  <section>
    <nav class="hor_card">
      <a href="#wood">
        <p>Wood</p>
        <img src="../assets/imgs/arrow_icon_red.svg" alt="Wood workshop" />
      </a>
      <a href="#metal">
        <p>Metal</p>
        <img src="../assets/imgs/arrow_icon_red.svg" alt="Metal workshop" />
      </a>
      <a href="#model">
        <p>Model</p>
        <img src="../assets/imgs/arrow_icon_red.svg" alt="Model workshop" />
      </a>
      <a href="#textile">
        <p>Textile</p>
        <img src="../assets/imgs/arrow_icon_red.svg" alt="Textile workshop" />
      </a>
      <a href="#electronics">
        <p>Electronics</p>
        <img
          src="../assets/imgs/arrow_icon_red.svg"
          alt="Electronics workshop"
        />
      </a>
    </nav>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section class="img_w_txt">
    <div class="txt_box">
      <h2>Workshops That Support Real Work</h2>
      <p>
        Trifolium’s workshops are designed for professionals who build things
        that matter. Whether you work in interiors, architecture, prototyping,
        or fabrication, we aim to cover your full production needs.
        <br /><br />
        With dedicated spaces for wood, metal, textiles, electronics, and model-making,
        plus access to digital tools and training, everything you need is right here—under
        one roof.
      </p>
    </div>
    <Image_container
      src="/assets/imgs/wrk_realwork.webp"
      alt="alex working on a table"
      labelLeft="assembly area"
      labelRight="1st Floor"
    />
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <div class="workshop_intro" id="wood">
    <h2>Wood Workshop</h2>
    <Image_container
      src="/assets/imgs/wrk_wood_thumbnail.webp"
      alt="Map of Trifolium"
      labelLeft="Metal workshop"
      labelRight="1st Floor"
    />
  </div>
  <section class="img_w_txt">
    <div class="txt_box">
      <p>
        Our wood workshop is one of the central hubs of Trifolium. It’s set up
        to support everything from precision joinery and furniture to fast
        prototyping and custom installations.
      </p>
      <p>
        The space is laid out to keep things flowing—whether you're running a
        solo build or coordinating with a team. Workbenches, industrial
        machinery, and open layout make it easy to focus and execute at a
        professional level.
      </p>
      <p>
        It’s the go-to workshop for carpenters, designers, set builders, and
        anyone working seriously with timber and wood-based materials. Whether
        you work in rough cuts or refined details, you’ll find the tools and
        room to do it right.
      </p>
      <a href="/membership" class="button large">View Memberships</a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/assets/imgs/wrk_wood1.webp" alt="wood workshop preview 1" />
      <img src="/assets/imgs/wrk_wood2.webp" alt="wood workshop preview 2" />
      <img src="/assets/imgs/wrk_wood3.webp" alt="wood workshop preview 3" />
      <img src="/assets/imgs/wrk_wood4.webp" alt="wood workshop preview 4" />
      <img src="/assets/imgs/wrk_wood5.webp" alt="wood workshop preview 5" />
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <div class="workshop_intro" id="metal">
    <h2>Metal Workshop</h2>
    <Image_container
      src="/assets/imgs/wrk_metal_thumbnail.webp"
      alt="Map of Trifolium"
      labelLeft="Metal workshop"
      labelRight="1st Floor"
    />
  </div>
  <section class="img_w_txt">
    <div class="txt_box">
      <p>
        The metal workshop is where structure, function, and fire come together.
        This space supports welding, cutting, bending, and light-to-medium
        fabrication work across various metals.
      </p><p>
        It’s a versatile environment for people working in furniture,
        installation design, mechanical structures, or prototyping that calls
        for more strength and precision.
      </p><p>
        The layout makes it easy to move between tasks without friction. If your
        work involves steel, aluminum, or similar materials, this is where your
        build starts to take shape.
      </p>
      <a href="/membership" class="button large">View Memberships</a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/assets/imgs/wrk_metal1.webp" alt="metal workshop preview 1" />
      <img src="/assets/imgs/wrk_metal2.webp" alt="metal workshop preview 2" />
      <img src="/assets/imgs/wrk_metal3.webp" alt="metal workshop preview 3" />
      <img src="/assets/imgs/wrk_metal4.webp" alt="metal workshop preview 4" />
      <img src="/assets/imgs/wrk_metal5.webp" alt="metal workshop preview 5" />
    </div>
  </section>

  <div class="logo_divider">
    <img src="../assets/imgs/logo_icon.svg" alt="Section" aria-hidden="true" />
  </div>

  <div class="workshop_intro" id="model">
    <h2>Model Workshop</h2>
    <Image_container
      src="/assets/imgs/wrk_model_thumbnail.webp"
      alt="Map of Trifolium"
      labelLeft="model workshop"
      labelRight="mezzanine"
    />
  </div>
  <section class="img_w_txt">
    <div class="txt_box">
      <p>
        The model workshop is where ideas get tested, scaled, and shaped by
        hand. It’s set up for architectural models, material mockups, detailed
        prototypes, or anything in between.
      </p>
      <p>
        This is a quieter, more controlled space for professionals who work at
        smaller scales or need a clean environment for delicate processes.
      </p>
      <p>
        Architects, product designers, and concept developers use this workshop
        to bridge the gap between screen and object. It’s a space made for
        focus, detail, and experimentation.
      </p>
      <a href="/membership" class="button large">View Memberships</a>
    </div>
    <div class="image_scroll_facilities">
      <img src="/assets/imgs/wrk_model1.webp" alt="model workshop preview 1" />
      <img src="/assets/imgs/wrk_model2.webp" alt="model workshop preview 2" />
      <img src="/assets/imgs/wrk_model3.webp" alt="model workshop preview 3" />
      <img src="/assets/imgs/wrk_model4.webp" alt="model workshop preview 4" />
      <img src="/assets/imgs/wrk_model5.webp" alt="model workshop preview 5" />
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <div class="workshop_intro" id="textile">
    <h2>Textile Workshop</h2>
    <Image_container
      src="/assets/imgs/wrk_textile_thumbnail.webp"
      alt="Map of Trifolium"
      labelLeft="textile workshop"
      labelRight="Mezzanine"
    />
  </div>
  <section class="img_w_txt">
    <div class="txt_box">
      <p>
        The textile workshop supports everything from upholstery and fashion to
        soft goods, accessories, and material tests.
      </p><p>
        It’s a flexible, open space for professionals working with fabric and
        fibers in both creative and technical ways. Whether you're working with
        sewing machines or combining textile work with digital production or
        electronics, the space gives you the room and setup to take your project
        from first stitch to finished product.
      </p>
      <a href="/membership" class="button large">View Memberships</a>
    </div>
    <div class="image_scroll_facilities">
      <img
        src="/assets/imgs/wrk_textile1.webp"
        alt="textile workshop preview 1"
      />
      <img
        src="/assets/imgs/wrk_textile2.webp"
        alt="textile workshop preview 2"
      />
      <img
        src="/assets/imgs/wrk_textile3.webp"
        alt="textile workshop preview 3"
      />
      <img
        src="/assets/imgs/wrk_textile4.webp"
        alt="textile workshop preview 4"
      />
      <img
        src="/assets/imgs/wrk_textile5.webp"
        alt="textile workshop preview 5"
      />
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <div class="workshop_intro" id="electronics">
    <h2>Electronics Workshop</h2>
    <Image_container
      src="/assets/imgs/wrk_electronic_thumbnail.webp"
      alt="Map of Trifolium"
      labelLeft="assembly area"
      labelRight="1st Floor"
    />
  </div>
  <section class="img_w_txt">
    <div class="txt_box">
      <p>
        The electronics workshop is where hardware and circuits come to life.
        It’s geared toward prototyping, light assembly, and testing of
        electronics and embedded systems.
      </p>
      <p>
        Whether you’re building devices, modifying existing tech, or integrating
        electronics into physical products, this space offers the workbench and
        tools to get hands-on with your builds.
      </p><p>
        Perfect for startups, engineers, or creatives working with sensors, IoT,
        robotics, or sound. It’s where physical meets digital—and where
        prototypes start proving themselves.
      </p>
      <a href="/membership" class="button large">View Memberships</a>
    </div>
    <div class="image_scroll_facilities">
      <img
        src="/assets/imgs/wrk_electronic1.webp"
        alt="electronic workshop preview 1"
      />
      <img
        src="/assets/imgs/wrk_electronic2.webp"
        alt="electronic workshop preview 2"
      />
      <img
        src="/assets/imgs/wrk_electronic3.webp"
        alt="electronic workshop preview 3"
      />
      <img
        src="/assets/imgs/wrk_electronic4.webp"
        alt="electronic workshop preview 4"
      />
      <img
        src="/assets/imgs/wrk_electronic5.webp"
        alt="electronic workshop preview 5"
      />
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section>
    <h2>What's included?</h2>
    <div class="included_grid">
      <Included
        number="01"
        header="24/7 Building Access"
        desc={`With a personal key-fob for full-time members.`}
      />
      <Included
        number="02"
        header="Flexible Memberships"
        desc={`Choose full-time or part-time access based on your schedule.`}
      />
      <Included
        number="03"
        header="Use of All Workshops"
        desc={`Wood, metal, textile, model, and electronics.`}
      />
      <Included
        number="04"
        header="Community & Networking"
        desc={`Be part of a professional, supportive environment.`}
      />
      <Included
        number="05"
        header="Training & Intro Courses"
        desc={`Get Trifo-certified on key machines like CNC and laser cutters.`}
      />
      <Included
        number="06"
        header="Storage Options"
        desc={`Rent shelf or floor space to store tools and materials.`}
      />
      <Included
        number="07"
        header="Access to the Würth Shop"
        desc={`Buy materials and fasteners right on site.`}
      />
      <Included
        number="08"
        header="Meeting Rooms & Shared Facilities"
        desc={`Bookable spaces, kitchen, and common areas.`}
      />
      <Included
        number="09"
        header="On-site Support"
        desc={`A team ready to help with questions and safety guidance.`}
      />
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section id="storage" class="img_w_txt">
    <Image_container
      src="/assets/imgs/wrk_storage.webp"
      alt="image of storage cells"
    />
    <div class="txt_box">
      <h2>Storage Options</h2>
      <p>
        Need space to store your materials or ongoing work? We offer shelf
        storage and floor space at monthly rates, priced by the square meter.
        Whether you need a small spot or a bigger footprint, you can keep your
        tools and projects close by and ready to go.
      </p>
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section class="img_w_txt left">
    <Image_container
      src="/assets/imgs/wrk_digfab.webp"
      alt="CNC-machine wood-router"
    />
    <div class="txt_box">
      <h2>Digital Fabrication & Learning Access</h2>
      <p>
        Digital fabrication is a core part of what we do at Trifolium. From CNC
        milling and laser cutting to digital model workflows, we support both
        self-driven professionals and those learning new tools.
        <br /><br />
        Our Design & Production team is specialized in digital fabrication and helps
        push what’s possible across projects and materials.
        <br /><br />
        To ensure everyone works safely and efficiently, certain machines require
        an introduction course before use. We offer training for all our key machines,
        so you can level up while you work.
      </p>
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section class="img_w_txt">
    <Image_container
      src="/assets/imgs/wrk_collab.webp"
      alt="Image of members working together"
    />
    <div class="txt_box">
      <h2>Built on Collaboration</h2>
      <p>
        Trifolium is a shared space full of professionals with different skills,
        tools, and approaches. That’s a strength.
        <br /><br />
        People here talk shop, trade knowledge, help each other, and build smarter
        through community. Whether you work solo or in a team, you’ll feel the benefit
        of being surrounded by others who get what it takes to bring real projects
        to life.
      </p>
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section class="img_w_txt left">
    <Image_container
      src="/assets/imgs/wrk_mpu.webp"
      alt="image of Trifoliums mobile production unit"
    />
    <div class="txt_box">
      <h2>The Mobile Production Unit (MPU)</h2>
      <p>
        Sometimes the job happens off-site. The Mobile Production Unit is a
        compact, high-spec workshop container you can book when you need
        production on location—or just need access to tools without a full
        membership.
        <br /><br />
        It’s perfect for temporary builds, short-term access to digital tools like
        CNC machines, or site-specific setups. If you're working remote but still
        want professional-grade capabilities, the MPU rolls up ready to go.
      </p>
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <section class="bottom_cta">
    <h2>Join The Community</h2>
    <p>
      Whether you're looking for a full-time base or flexible access on evenings
      and weekends, we’d love to hear from you.
    </p>
    <div class="double_cta">
      <a href="/membership" class="button large">Prices</a>
      <a href="/contact" class="button large alt">Contact Trifolium</a>
    </div>
  </section>

  <div class="logo_divider">
    <img
      src="../assets/imgs/logo_icon.svg"
      alt="Section divider"
      aria-hidden="true"
    />
  </div>

  <style>
    h2 {
      margin-top: var(--spacing-large);
      margin-bottom: var(--spacing-large);
    }
    section {
      margin-left: var(--spacing-small);
      margin-right: var(--spacing-small);
    }

    .workshop_intro {
      margin-left: var(--spacing-small);
      margin-right: var(--spacing-small);
      margin-bottom: var(--spacing-small);
    }

    .hor_card {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-tiny);
    }

    .hor_card a {
      display: flex;
      justify-content: space-between;
      border: 1px solid var(--primary-color-500);
      font-weight: 700;
      font-size: 1.5em;
      padding: var(--spacing-tiny);
    }
    .hor_card a p {
      padding: 0;
      margin: 0;
    }
    .hor_card a:hover {
      background-color: var(--primary-color-200);
    }
    .hor_card a img {
      transition: 0.05s ease-in;
    }
    .hor_card a:hover img {
      rotate: 45deg;
    }
    .hor_card a:active {
      background-color: var(--primary-color-500);
      color: white;
    }

    @media (width > 800px) {
      .included_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-large);
      }

      .hor_card {
        flex-direction: row;
        width: 100%;
      }
      .hor_card a {
        width: 100%;
      }
      .double_cta {
        display: flex;
        width: 100%;
        gap: var(--spacing-small);
        justify-content: center;
      }

      .double_cta a {
        width: fit-content;
      }
    }
  </style>
</Layout>
