---
import "../styles/global.css";
---

<footer>
  <div class="options">
    <div class="info_container">
      <h5>Pages</h5>
      <ul>
        <li><a href="/facilities" class="underline-hover">Facilities</a></li>
        <li><a href="/offices" class="underline-hover">Offices</a></li>
        <li><a href="/photostudio" class="underline-hover">Photo-studio</a></li>
        <li><a href="/workshops" class="underline-hover">Workshops</a></li>
        <li><a href="/venues" class="underline-hover">Venues</a></li>
        <li><a href="/membership" class="underline-hover">Membership</a></li>
        <li><a href="/dandp" class="underline-hover">Design & Production</a></li>
        <li><a href="/about" class="underline-hover">About</a></li>
        <li><a href="/members" class="underline-hover">Members</a></li>
        <li><a href="/staff" class="underline-hover">Staff</a></li>
        <li><a href="/contact" class="underline-hover">Contact</a></li>
      </ul>
    </div>
    <div class="contact_container">
      <h5>Contact</h5>
      <ul>
        <li><a href="" class="underline-hover">+ 45 5455 1515</a></li>
        <li><a href="mailto:info@trifo.dk" class="underline-hover">info@trifo.dk</a></li>
        <li><a href="" class="underline-hover">Bådehavnsgade 42 K, 2450 København SV</a></li>
        <li>Opening Hours (adm.)</li>
        <li>Mon - Fri, 09:00-16:00</li>
      </ul>
    </div>
    <div class="newsletter_container">
      <h5>Newsletter</h5>
      <ul>
        <li>Get updated on the latest news and events:</li>
        <li class="input_newsletter">
          <div>
            <input type="text" placeholder="E-mail" /><img src="../assets/imgs/mail_icon.svg" alt="" />
          </div>
          <div><hr /></div>
        </li>
      </ul>
      <div class="socials">
        <a href="https://www.instagram.com/trifolium_cph/">
          <img src="../assets/imgs/insta_icon.svg" alt="Instagram link" />
        </a>
        <a href="https://www.facebook.com/TrifoliumCPH">
          <img src="../assets/imgs/face_icon.svg" alt="Facebook link" />
        </a>
        <a href="https://www.linkedin.com/company/82045530/admin/page-posts/published/">
          <img src="../assets/imgs/linked_icon.svg" alt="linkedin link" />
        </a>
      </div>
    </div>
  </div>
  <img src="/public/assets/imgs/logo_wide_white.svg" alt="trifolium white logo" class="footer_logo" />
  <div class="rights"><p>© Trifolium ApS, All rights reserved 2025</p></div>
</footer>

<style>
  footer {
    box-sizing: border-box;
    padding: var(--spacing-small);
    background-color: var(--tertiary-color-800);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-medium);
  }
  a,
  h5,
  li,
  p {
    color: white;
    list-style: none;
  }
  h5 {
    margin: 0 0 var(--spacing-small) 0;
  }
  li,
  ul {
    padding: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tiny);
  }

  input[type="text"] {
    background-color: transparent;
    border: none;
    outline-color: transparent;
    color: var(--white-color-100);
    width: 100%;
  }
  input::placeholder {
    color: var(--white-color-100);
  }
  input[type="text"]:focus {
    outline: none;
  }

  .logo_container {
    width: 300px;
    margin-bottom: var(--spacing-large);
  }

  .logo_container a img {
    width: 100%;
  }

  .options {
    display: flex;
    justify-content: space-between;
  }

  .logo_container,
  .info_container,
  .contact_container,
  .newsletter_container {
    max-width: 400px;
  }

  .newsletter_container {
    > ul {
      display: flex;
      flex-direction: column;
    }
  }
  .socials {
    display: flex;
    gap: var(--spacing-small);
  }
  .input_newsletter {
    > div {
      display: flex;
      width: 100%;
    }
  }
  hr {
    width: 100%;
    margin: 0 0 var(--spacing-large) 0;
  }
  .rights {
    font-size: var(--text-caption);
    > p {
      color: var(--grey-color-400);
    }
  }

  .footer_logo {
    margin-top: 4rem;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (width < 990px) {
    .options {
      flex-direction: column;
    }
  }
</style>
