---
const { number, header, desc } = Astro.props;
---

<div class="item_container">
  <span class="number_span">{number}</span>
  <div class="text_container_included">
    <h5>{header}</h5>
    <p>
      {desc}
    </p>
  </div>
</div>

<style>
  .item_container {
    margin-top: var(--spacing-tiny);
    display: flex;
    gap: var(--spacing-small);
  }
  .number_span {
    font-family: var(--primary-font);
    font-weight: 1000;
    font-size: 4em;
    margin: 0;
  }
  .text_container_included {
    > h5 {
      margin: 0;
      margin-top: var(--spacing-tiny);
    }
  }
</style>
