---
const { href, title, imgSrc, alt = "" } = Astro.props;
---

<a href={href} class="nav_card_container_item">
  <div class="card_text_container">
    <h3>{title}</h3>
    <div class="arrow_container">
      <img src="/assets/imgs/arrow_icon_red.svg" alt="" />
    </div>
  </div>
  <div class="image_container">
    <img src={imgSrc} alt={alt} />
  </div>
</a>

<style>
  .nav_card_container_item {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto;
  }

  .nav_card_container_item .image_container {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .nav_card_container_item .image_container img {
    width: 100%;
    object-fit: cover;
  }

  .nav_card_container_item .card_text_container {
    height: fit-content;
    padding: 0.5em var(--spacing-tiny);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid var(--primary-color-500);
    box-sizing: border-box;
  }

  .nav_card_container_item .card_text_container h3 {
    margin: 0;
  }

  .nav_card_container_item .card_text_container .arrow_container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav_card_container_item .card_text_container .arrow_container img {
    height: 100%;
    max-height: 33px;
    aspect-ratio: 1/1;
    transition: 0.05s ease-in;
  }

  .nav_card_container_item:hover .card_text_container .arrow_container img {
    transform: rotate(45deg);
  }

  .nav_card_container_item:hover .card_text_container {
    background-color: var(--primary-color-200);
  }

  .nav_card_container_item:active .card_text_container {
    background-color: var(--primary-color-500);
  }
</style>
